@charset "utf-8";

.button-add-book {
	margin: 0 0 10px 30px;
	color: white!important;
	cursor: pointer;
	
}

#table-form {
	width: 95%;
	margin: auto;
	
}

#table-form th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#table-form td {
	border: 1px solid #ddd;
	padding: 10px;
	
}

/* Estilos para o container de busca */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para a caixa de texto de busca */
.search-container input[type=text] {
  padding: 10px;
  border: 2px solid black;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
}

/* Estilos para o botão de busca */
.search-container button {
  padding: 10px;
  border: none;
  font-size: 17px;
  background: #4285F4;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* Estilos para o ícone de busca no botão */
.search-container button i {
  margin-left: 5px;
}


/* Tabela do arquivo book-id.jsp*/

#section-table-form {
	margin-top: 15px;
}
