@charset "utf-8";

.button-add-book {
	margin: 10px 0 10px 40px;
	color: white!important;
	cursor: pointer;
	
}

#table-form {
	width: 95%;
	margin: auto;
	
}

#table-form th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#table-form td {
	border: 1px solid #ddd;
	padding: 10px;
	
}
