table {
	border-collapse: collapse;
	margin: 20px auto;
	font-size: 18px;
	min-width: 400px;
	border: 2px solid #444;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: #444;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

.update-button, .delete-button {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 100px;
	margin: 5px;
	padding: 8px 16px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-button {
	background-color: #444;
}

.update-button:hover {
	background-color: #333;
}

.delete-button {
	background-color: #f44336;
}

.delete-button:hover {
	background-color: #d32f2f;
}

button {
	margin: 0;
}

#botao-cadastrar {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 120px;
	margin: 20px auto;
	padding: 8px 16px;
	background-color: #444;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#botao-cadastrar:hover {
	background-color: #333;
}