* {
	font-family: 'Exo 2', sans-serif;
}

html {
	height: 100%;
	min-height: 100%;
}

.img-background {
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.welcome {
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin: 50px 0;
}

.navbar {
	padding: 0.5rem 2.0rem;
}

.welcome-asafe-library {
	color: #EEE;
	text-align: center !important;
}

.form-inline .form-control {
	width: 240px;
}

.form-search-book {
	text-align: center;
	width: 100%;
}

.form-control {
	height: 50px;
}

.form-group {
	display: inline-block;
	position: relative;
	width: 600px;
	margin-top: 10px;
}

.fa-solid .fa-magnifying-glass {
	font-size: 150px;
	color: white;
}

.btn-color {
	background-color: rgb(62, 134, 210);
}

.footer {
	width: 100%;
	margin-top: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212529;
	color: #ffffff;
	box-sizing: border-box;
}