@charset "utf-8";

.button-delete {
  background-color: #FF2400;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.button-delete:hover {
  background-color: #ff5a4a;
}

.btn-book-id{
	margin: 20px 0 0 5px;
}